@import '../../index.scss';

.btn-card {
  background-color: $color-red !important;
  border: none !important;
}
.isInBasket {
  border: 10px solid $color-blue;
}

.card-link {
  color: black;
  text-decoration: none;
}
