.container {
  margin-top: 15px;
  // text-align: center;
  justify-content: space-between;
}
.box {
  min-height: 100px;
  width: 100%;
  background-color: red;
}

.search-form {
  padding-top: 60px;
}
