@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

$color-yellow: #ffcc00;
$color-red: #cd0067;
$color-blue: #00ccff;
$color-blue-light: #5cbad2a7;

// #ffcc00, #cd0067, #00ccff

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
}

// html {
//   // This defines what 1rem is
//   font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
//   @include respond(tab-land) {
//     // width < 1200?
//     font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
//   }

//   @include respond(tab-port) {
//     // width < 900?
//     font-size: 50%; //1 rem = 8px, 8/16 = 50%
//   }

//   @include respond(big-desktop) {
//     font-size: 75%; //1rem = 12, 12/16
//   }
// }
